<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a 
            class="list-group-item" 
            style="cursor: pointer"
            *ngFor="let ingredient of ingredients">
            <!-- we put ngFor on this anchor tag to loop through all the ingredients-->
            {{ ingredient.name }} ({{ ingredient.amount }})  <!--string interpolation-->
            <!-- in console apples (10)-->
        </a>
        </ul>
    </div>
</div>
